{
    "openapi": "3.0.1",
    "info": {
        "title": "Microsoft Graph Rest APIs for Universal Print",
        "description": "Microsoft Graph Rest APIs for Universal Print",
        "version": "v1.0"
    },
    "servers": [
        {
            "url": "https://graph.microsoft.com"
        }
    ],
    "paths": {
        "/v1.0/print/printers": {
            "get": {
                "summary": "Get registered printers in the tenant",
                "description": "Get registered printers in the tenant",
                "operationId": "Printers_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expand navigation property",
                        "schema": {
                            "type": "string",
                            "description": "Expand navigation property"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select structural property",
                        "schema": {
                            "type": "string",
                            "description": "Select structural property"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "get top n elements",
                        "schema": {
                            "type": "string",
                            "description": "get top n elements"
                        }
                    },
                    {
                        "name": "$orderBy",
                        "in": "query",
                        "description": "order by some property",
                        "schema": {
                            "type": "string",
                            "description": "order by some property"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "count some property",
                        "schema": {
                            "type": "boolean",
                            "description": "count some property"
                        }
                    }
                ],
                "responses": {
                    "400": {
                        "description": "BadRequest"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "500": {
                        "description": "InternalServerError"
                    },
                    "200": {
                        "description": "List of printers",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/microsoft.graph.printer"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "microsoft.graph.UserIdentity": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "ipAddress": {
                        "type": "string",
                        "description": "ipAddress"
                    },
                    "userPrincipalName": {
                        "type": "string",
                        "description": "userPrincipalName"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.PrintRelease": {
                "properties": {
                    "releaseType": {
                        "type": "string",
                        "description": "releaseType"
                    }
                }
            },
            "microsoft.graph.PrintReleaseMechanism": {
                "properties": {
                    "releaseType": {
                        "type": "string",
                        "description": "releaseType"
                    }
                }
            },
            "microsoft.graph.printerStatus": {
                "properties": {
                    "processingState": {
                        "type": "string",
                        "description": "processingState"
                    },
                    "state": {
                        "type": "string",
                        "description": "state"
                    },
                    "processingStateReasons": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "processingStateReasons"
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "details"
                    },
                    "processingStateDescription": {
                        "type": "string",
                        "description": "processingStateDescription"
                    },
                    "description": {
                        "type": "string",
                        "description": "description"
                    }
                }
            },
            "microsoft.graph.printerLocation": {
                "properties": {
                    "latitude": {
                        "type": "number",
                        "description": "latitude"
                    },
                    "longitude": {
                        "type": "number",
                        "description": "longitude"
                    },
                    "altitudeInMeters": {
                        "type": "integer",
                        "description": "altitudeInMeters"
                    },
                    "streetAddress": {
                        "type": "string",
                        "description": "streetAddress"
                    },
                    "subunit": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "subunit"
                    },
                    "city": {
                        "type": "string",
                        "description": "city"
                    },
                    "region": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "region"
                    },
                    "postalCode": {
                        "type": "string",
                        "description": "postalCode"
                    },
                    "country": {
                        "type": "string",
                        "description": "country"
                    },
                    "site": {
                        "type": "string",
                        "description": "site"
                    },
                    "building": {
                        "type": "string",
                        "description": "building"
                    },
                    "floorNumber": {
                        "type": "integer",
                        "description": "floorNumber"
                    },
                    "floor": {
                        "type": "string",
                        "description": "floor"
                    },
                    "floorDescription": {
                        "type": "string",
                        "description": "floorDescription"
                    },
                    "roomNumber": {
                        "type": "integer",
                        "description": "roomNumber"
                    },
                    "roomName": {
                        "type": "string",
                        "description": "roomName"
                    },
                    "roomDescription": {
                        "type": "string",
                        "description": "roomDescription"
                    },
                    "organization": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "organization"
                    },
                    "subdivision": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "subdivision"
                    },
                    "stateOrProvince": {
                        "type": "string",
                        "description": "stateOrProvince"
                    },
                    "countryOrRegion": {
                        "type": "string",
                        "description": "countryOrRegion"
                    }
                }
            },
            "microsoft.graph.printerDefaults": {
                "properties": {
                    "copiesPerJob": {
                        "type": "integer",
                        "description": "copiesPerJob"
                    },
                    "finishings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "finishings"
                    },
                    "mediaColor": {
                        "type": "string",
                        "description": "mediaColor"
                    },
                    "mediaType": {
                        "type": "string",
                        "description": "mediaType"
                    },
                    "mediaSize": {
                        "type": "string",
                        "description": "mediaSize"
                    },
                    "pagesPerSheet": {
                        "type": "integer",
                        "description": "pagesPerSheet"
                    },
                    "orientation": {
                        "type": "string",
                        "description": "orientation"
                    },
                    "outputBin": {
                        "type": "string",
                        "description": "outputBin"
                    },
                    "inputBin": {
                        "type": "string",
                        "description": "inputBin"
                    },
                    "documentMimeType": {
                        "type": "string",
                        "description": "documentMimeType"
                    },
                    "pdfFitToPage": {
                        "type": "boolean",
                        "description": "pdfFitToPage"
                    },
                    "duplexConfiguration": {
                        "type": "string",
                        "description": "duplexConfiguration"
                    },
                    "presentationDirection": {
                        "type": "string",
                        "description": "presentationDirection"
                    },
                    "printColorConfiguration": {
                        "type": "string",
                        "description": "printColorConfiguration"
                    },
                    "printQuality": {
                        "type": "string",
                        "description": "printQuality"
                    },
                    "contentType": {
                        "type": "string",
                        "description": "contentType"
                    },
                    "fitPdfToPage": {
                        "type": "boolean",
                        "description": "fitPdfToPage"
                    },
                    "multipageLayout": {
                        "type": "string",
                        "description": "multipageLayout"
                    },
                    "colorMode": {
                        "type": "string",
                        "description": "colorMode"
                    },
                    "quality": {
                        "type": "string",
                        "description": "quality"
                    },
                    "duplexMode": {
                        "type": "string",
                        "description": "duplexMode"
                    },
                    "dpi": {
                        "type": "integer",
                        "description": "dpi"
                    },
                    "scaling": {
                        "type": "string",
                        "description": "scaling"
                    }
                }
            },
            "microsoft.graph.printer": {
                "properties": {
                    "registeredDateTime": {
                        "type": "string",
                        "description": "registeredDateTime"
                    },
                    "acceptingJobs": {
                        "type": "boolean",
                        "description": "acceptingJobs"
                    },
                    "hasPhysicalDevice": {
                        "type": "boolean",
                        "description": "hasPhysicalDevice"
                    },
                    "lastSeenDateTime": {
                        "type": "string",
                        "description": "lastSeenDateTime"
                    },
                    "releases": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.PrintRelease"
                        },
                        "description": "releases"
                    },
                    "releaseMechanisms": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.PrintReleaseMechanism"
                        },
                        "description": "releaseMechanisms"
                    },
                    "isShared": {
                        "type": "boolean",
                        "description": "isShared"
                    },
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "manufacturer": {
                        "type": "string",
                        "description": "manufacturer"
                    },
                    "model": {
                        "type": "string",
                        "description": "model"
                    },
                    "status": {
                        "$ref": "#/components/schemas/microsoft.graph.printerStatus"
                    },
                    "location": {
                        "$ref": "#/components/schemas/microsoft.graph.printerLocation"
                    },
                    "isAcceptingJobs": {
                        "type": "boolean",
                        "description": "isAcceptingJobs"
                    },
                    "defaults": {
                        "$ref": "#/components/schemas/microsoft.graph.printerDefaults"
                    },
                    "capabilities": {
                        "$ref": "#/components/schemas/microsoft.graph.printerCapabilities"
                    }
                }
            },
            "microsoft.graph.printJob": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "createdBy": {
                        "$ref": "#/components/schemas/microsoft.graph.UserIdentity"
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                    },
                    "isFetchable": {
                        "type": "boolean",
                        "description": "isFetchable"
                    },
                    "status": {
                        "$ref": "#/components/schemas/microsoft.graph.printJobStatus"
                    },
                    "redirectedFrom": {
                        "type": "string",
                        "description": "redirectedFrom"
                    },
                    "redirectedTo": {
                        "type": "string",
                        "description": "redirectedTo"
                    },
                    "configuration": {
                        "$ref": "#/components/schemas/microsoft.graph.printJobConfiguration"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "errorCode": {
                        "type": "integer",
                        "description": "errorCode"
                    },
                    "acknowledgedDateTime": {
                        "type": "string",
                        "description": "acknowledgedDateTime"
                    },
                    "completedDateTime": {
                        "type": "string",
                        "description": "completedDateTime"
                    }
                }
            },
            "microsoft.graph.printDocument": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "contentType": {
                        "type": "string",
                        "description": "contentType"
                    },
                    "size": {
                        "type": "integer",
                        "description": "size"
                    },
                    "configuration": {
                        "$ref": "#/components/schemas/microsoft.graph.printerDocumentConfiguration"
                    },
                    "uploadedDateTime": {
                        "type": "string",
                        "description": "uploadedDateTime"
                    },
                    "downloadedDateTime": {
                        "type": "string",
                        "description": "downloadedDateTime"
                    }
                }
            },
            "microsoft.graph.printTaskTrigger": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "event": {
                        "type": "string",
                        "description": "event"
                    }
                }
            },
            "microsoft.graph.integerRange": {
                "properties": {
                    "start": {
                        "type": "integer",
                        "description": "start"
                    },
                    "end": {
                        "type": "integer",
                        "description": "end"
                    },
                    "minimum": {
                        "type": "integer",
                        "description": "minimum"
                    },
                    "maximum": {
                        "type": "integer",
                        "description": "maximum"
                    }
                }
            },
            "microsoft.graph.printJobStatus": {
                "properties": {
                    "processingState": {
                        "type": "string",
                        "description": "processingState"
                    },
                    "state": {
                        "type": "string",
                        "description": "state"
                    },
                    "processingStateDescription": {
                        "type": "string",
                        "description": "processingStateDescription"
                    },
                    "description": {
                        "type": "string",
                        "description": "description"
                    },
                    "wasJobAcquiredByPrinter": {
                        "type": "boolean",
                        "description": "wasJobAcquiredByPrinter"
                    },
                    "isAcquiredByPrinter": {
                        "type": "boolean",
                        "description": "isAcquiredByPrinter"
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "details"
                    }
                }
            },
            "microsoft.graph.printerDocumentConfiguration": {
                "properties": {
                    "pageRanges": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.integerRange"
                        },
                        "description": "pageRanges"
                    },
                    "quality": {
                        "type": "string",
                        "description": "quality"
                    },
                    "dpi": {
                        "type": "integer",
                        "description": "dpi"
                    },
                    "feedOrientation": {
                        "type": "string",
                        "description": "feedOrientation"
                    },
                    "feedDirection": {
                        "type": "string",
                        "description": "feedDirection"
                    },
                    "orientation": {
                        "type": "string",
                        "description": "orientation"
                    },
                    "duplexMode": {
                        "type": "string",
                        "description": "duplexMode"
                    },
                    "copies": {
                        "type": "integer",
                        "description": "copies"
                    },
                    "colorMode": {
                        "type": "string",
                        "description": "colorMode"
                    },
                    "inputBin": {
                        "type": "string",
                        "description": "inputBin"
                    },
                    "outputBin": {
                        "type": "string",
                        "description": "outputBin"
                    },
                    "mediaSize": {
                        "type": "string",
                        "description": "mediaSize"
                    },
                    "margin": {
                        "$ref": "#/components/schemas/microsoft.graph.printMargin"
                    },
                    "mediaType": {
                        "type": "string",
                        "description": "mediaType"
                    },
                    "finishings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "finishings"
                    },
                    "pagesPerSheet": {
                        "type": "integer",
                        "description": "pagesPerSheet"
                    },
                    "multipageLayout": {
                        "type": "string",
                        "description": "multipageLayout"
                    },
                    "collate": {
                        "type": "boolean",
                        "description": "collate"
                    },
                    "scaling": {
                        "type": "string",
                        "description": "scaling"
                    },
                    "fitPdfToPage": {
                        "type": "boolean",
                        "description": "fitPdfToPage"
                    }
                }
            },
            "microsoft.graph.printerCapabilities": {
                "properties": {
                    "isColorPrintingSupported": {
                        "type": "boolean",
                        "description": "isColorPrintingSupported"
                    },
                    "supportsFitPdfToPage": {
                        "type": "boolean",
                        "description": "supportsFitPdfToPage"
                    },
                    "supportedCopiesPerJob": {
                        "$ref": "#/components/schemas/microsoft.graph.integerRange"
                    },
                    "supportedDocumentMimeTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedDocumentMimeTypes"
                    },
                    "supportedFinishings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedFinishings"
                    },
                    "supportedMediaColors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedMediaColors"
                    },
                    "supportedMediaTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedMediaTypes"
                    },
                    "supportedMediaSizes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedMediaSizes"
                    },
                    "supportedPagesPerSheet": {
                        "$ref": "#/components/schemas/microsoft.graph.integerRange"
                    },
                    "supportedOrientations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedOrientations"
                    },
                    "supportedOutputBins": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedOutputBins"
                    },
                    "supportedDuplexConfigurations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedDuplexConfigurations"
                    },
                    "supportedPresentationDirections": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedPresentationDirections"
                    },
                    "supportedColorConfigurations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedColorConfigurations"
                    },
                    "supportedPrintQualities": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "supportedPrintQualities"
                    },
                    "contentTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "contentTypes"
                    },
                    "feedOrientations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "feedOrientations"
                    },
                    "feedDirections": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "feedDirections"
                    },
                    "isPageRangeSupported": {
                        "type": "boolean",
                        "description": "isPageRangeSupported"
                    },
                    "qualities": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "qualities"
                    },
                    "dpis": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "description": "dpis"
                    },
                    "duplexModes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "duplexModes"
                    },
                    "copiesPerJob": {
                        "$ref": "#/components/schemas/microsoft.graph.integerRange"
                    },
                    "finishings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "finishings"
                    },
                    "mediaColors": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "mediaColors"
                    },
                    "mediaTypes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "mediaTypes"
                    },
                    "mediaSizes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "mediaSizes"
                    },
                    "pagesPerSheet": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "description": "pagesPerSheet"
                    },
                    "orientations": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "orientations"
                    },
                    "outputBins": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "outputBins"
                    },
                    "multipageLayouts": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "multipageLayouts"
                    },
                    "colorModes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "colorModes"
                    },
                    "inputBins": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "inputBins"
                    },
                    "topMargins": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "description": "topMargins"
                    },
                    "bottomMargins": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "description": "bottomMargins"
                    },
                    "rightMargins": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "description": "rightMargins"
                    },
                    "leftMargins": {
                        "type": "array",
                        "items": {
                            "type": "integer"
                        },
                        "description": "leftMargins"
                    },
                    "collation": {
                        "type": "boolean",
                        "description": "collation"
                    },
                    "scalings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "scalings"
                    }
                }
            },
            "microsoft.graph.printJobConfiguration": {
                "properties": {
                    "pageRanges": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.integerRange"
                        },
                        "description": "pageRanges"
                    },
                    "quality": {
                        "type": "string",
                        "description": "quality"
                    },
                    "dpi": {
                        "type": "integer",
                        "description": "dpi"
                    },
                    "feedOrientation": {
                        "type": "string",
                        "description": "feedOrientation"
                    },
                    "orientation": {
                        "type": "string",
                        "description": "orientation"
                    },
                    "duplexMode": {
                        "type": "string",
                        "description": "duplexMode"
                    },
                    "copies": {
                        "type": "integer",
                        "description": "copies"
                    },
                    "colorMode": {
                        "type": "string",
                        "description": "colorMode"
                    },
                    "inputBin": {
                        "type": "string",
                        "description": "inputBin"
                    },
                    "outputBin": {
                        "type": "string",
                        "description": "outputBin"
                    },
                    "mediaSize": {
                        "type": "string",
                        "description": "mediaSize"
                    },
                    "margin": {
                        "$ref": "#/components/schemas/microsoft.graph.printMargin"
                    },
                    "mediaType": {
                        "type": "string",
                        "description": "mediaType"
                    },
                    "finishings": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "finishings"
                    },
                    "pagesPerSheet": {
                        "type": "integer",
                        "description": "pagesPerSheet"
                    },
                    "multipageLayout": {
                        "type": "string",
                        "description": "multipageLayout"
                    },
                    "collate": {
                        "type": "boolean",
                        "description": "collate"
                    },
                    "scaling": {
                        "type": "string",
                        "description": "scaling"
                    },
                    "fitPdfToPage": {
                        "type": "boolean",
                        "description": "fitPdfToPage"
                    }
                }
            },
            "microsoft.graph.printMargin": {
                "properties": {
                    "top": {
                        "type": "integer",
                        "description": "top"
                    },
                    "bottom": {
                        "type": "integer",
                        "description": "bottom"
                    },
                    "left": {
                        "type": "integer",
                        "description": "left"
                    },
                    "right": {
                        "type": "integer",
                        "description": "right"
                    }
                }
            },
            "microsoft.graph.CertificateSigningRequest": {
                "properties": {
                    "content": {
                        "type": "string",
                        "description": "content"
                    },
                    "transportKey": {
                        "type": "string",
                        "description": "transportKey"
                    }
                }
            },
            "microsoft.graph.PrintDocumentUploadProperties": {
                "properties": {
                    "contentType": {
                        "type": "string",
                        "description": "contentType"
                    },
                    "documentName": {
                        "type": "string",
                        "description": "documentName"
                    },
                    "size": {
                        "type": "integer",
                        "description": "size"
                    }
                }
            },
            "microsoft.graph.UploadSession": {
                "properties": {
                    "expirationDateTime": {
                        "type": "string",
                        "description": "expirationDateTime"
                    },
                    "nextExpectedRanges": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "nextExpectedRanges"
                    },
                    "uploadUrl": {
                        "type": "string",
                        "description": "uploadUrl"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.PrinterShare": {
                "properties": {
                    "viewPoint": {
                        "$ref": "#/components/schemas/microsoft.graph.PrinterShareViewpoint"
                    },
                    "allowAllUsers": {
                        "type": "boolean",
                        "description": "allowAllUsers"
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                    },
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "manufacturer": {
                        "type": "string",
                        "description": "manufacturer"
                    },
                    "model": {
                        "type": "string",
                        "description": "model"
                    },
                    "status": {
                        "$ref": "#/components/schemas/microsoft.graph.printerStatus"
                    },
                    "location": {
                        "$ref": "#/components/schemas/microsoft.graph.printerLocation"
                    },
                    "isAcceptingJobs": {
                        "type": "boolean",
                        "description": "isAcceptingJobs"
                    },
                    "defaults": {
                        "$ref": "#/components/schemas/microsoft.graph.printerDefaults"
                    },
                    "capabilities": {
                        "$ref": "#/components/schemas/microsoft.graph.printerCapabilities"
                    }
                }
            },
            "microsoft.graph.PullPrintQueue": {
                "properties": {
                    "registeredDateTime": {
                        "type": "string",
                        "description": "registeredDateTime"
                    },
                    "includeAllPrinters": {
                        "type": "boolean",
                        "description": "includeAllPrinters"
                    },
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "manufacturer": {
                        "type": "string",
                        "description": "manufacturer"
                    },
                    "model": {
                        "type": "string",
                        "description": "model"
                    },
                    "status": {
                        "$ref": "#/components/schemas/microsoft.graph.printerStatus"
                    },
                    "location": {
                        "$ref": "#/components/schemas/microsoft.graph.printerLocation"
                    },
                    "isAcceptingJobs": {
                        "type": "boolean",
                        "description": "isAcceptingJobs"
                    },
                    "defaults": {
                        "$ref": "#/components/schemas/microsoft.graph.printerDefaults"
                    },
                    "capabilities": {
                        "$ref": "#/components/schemas/microsoft.graph.printerCapabilities"
                    }
                }
            },
            "microsoft.graph.PrintTaskDefinition": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "createdBy": {
                        "$ref": "#/components/schemas/microsoft.graph.AppIdentity"
                    }
                }
            },
            "microsoft.graph.AppIdentity": {
                "properties": {
                    "appId": {
                        "type": "string",
                        "description": "appId"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "servicePrincipalId": {
                        "type": "string",
                        "description": "servicePrincipalId"
                    },
                    "servicePrincipalName": {
                        "type": "string",
                        "description": "servicePrincipalName"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.PrintTask": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "status": {
                        "$ref": "#/components/schemas/microsoft.graph.PrintTaskStatus"
                    },
                    "parentUrl": {
                        "type": "string",
                        "description": "parentUrl"
                    }
                }
            },
            "microsoft.graph.PrintTaskStatus": {
                "properties": {
                    "state": {
                        "type": "string",
                        "description": "state"
                    },
                    "description": {
                        "type": "string",
                        "description": "description"
                    }
                }
            },
            "microsoft.graph.Entity": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.DirectoryObject": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                    }
                }
            },
            "microsoft.graph.User": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "deletedDateTime": {
                        "type": "string",
                        "description": "deletedDateTime"
                    },
                    "accountEnabled": {
                        "type": "boolean",
                        "description": "accountEnabled"
                    },
                    "ageGroup": {
                        "type": "string",
                        "description": "ageGroup"
                    },
                    "assignedLicenses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.AssignedLicense"
                        },
                        "description": "assignedLicenses"
                    },
                    "assignedPlans": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.AssignedPlan"
                        },
                        "description": "assignedPlans"
                    },
                    "businessPhones": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "businessPhones"
                    },
                    "city": {
                        "type": "string",
                        "description": "city"
                    },
                    "companyName": {
                        "type": "string",
                        "description": "companyName"
                    },
                    "consentProvidedForMinor": {
                        "type": "string",
                        "description": "consentProvidedForMinor"
                    },
                    "country": {
                        "type": "string",
                        "description": "country"
                    },
                    "department": {
                        "type": "string",
                        "description": "department"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "employeeId": {
                        "type": "string",
                        "description": "employeeId"
                    },
                    "faxNumber": {
                        "type": "string",
                        "description": "faxNumber"
                    },
                    "givenName": {
                        "type": "string",
                        "description": "givenName"
                    },
                    "imAddresses": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "imAddresses"
                    },
                    "isResourceAccount": {
                        "type": "boolean",
                        "description": "isResourceAccount"
                    },
                    "jobTitle": {
                        "type": "string",
                        "description": "jobTitle"
                    },
                    "legalAgeGroupClassification": {
                        "type": "string",
                        "description": "legalAgeGroupClassification"
                    },
                    "licenseAssignmentStates": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.LicenseAssignmentState"
                        },
                        "description": "licenseAssignmentStates"
                    },
                    "mail": {
                        "type": "string",
                        "description": "mail"
                    },
                    "mailNickname": {
                        "type": "string",
                        "description": "mailNickname"
                    },
                    "mobilePhone": {
                        "type": "string",
                        "description": "mobilePhone"
                    },
                    "onPremisesDistinguishedName": {
                        "type": "string",
                        "description": "onPremisesDistinguishedName"
                    },
                    "onPremisesExtensionAttributes": {
                        "$ref": "#/components/schemas/microsoft.graph.OnPremisesExtensionAttributes"
                    },
                    "onPremisesImmutableId": {
                        "type": "string",
                        "description": "onPremisesImmutableId"
                    },
                    "onPremisesLastSyncDateTime": {
                        "type": "string",
                        "description": "onPremisesLastSyncDateTime"
                    },
                    "onPremisesProvisioningErrors": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.OnPremisesProvisioningError"
                        },
                        "description": "onPremisesProvisioningErrors"
                    },
                    "onPremisesSecurityIdentifier": {
                        "type": "string",
                        "description": "onPremisesSecurityIdentifier"
                    },
                    "onPremisesSyncEnabled": {
                        "type": "boolean",
                        "description": "onPremisesSyncEnabled"
                    },
                    "onPremisesDomainName": {
                        "type": "string",
                        "description": "onPremisesDomainName"
                    },
                    "onPremisesSamAccountName": {
                        "type": "string",
                        "description": "onPremisesSamAccountName"
                    },
                    "onPremisesUserPrincipalName": {
                        "type": "string",
                        "description": "onPremisesUserPrincipalName"
                    },
                    "otherMails": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "otherMails"
                    },
                    "passwordPolicies": {
                        "type": "string",
                        "description": "passwordPolicies"
                    },
                    "passwordProfile": {
                        "$ref": "#/components/schemas/microsoft.graph.PasswordProfile"
                    },
                    "officeLocation": {
                        "type": "string",
                        "description": "officeLocation"
                    },
                    "postalCode": {
                        "type": "string",
                        "description": "postalCode"
                    },
                    "preferredLanguage": {
                        "type": "string",
                        "description": "preferredLanguage"
                    },
                    "provisionedPlans": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.ProvisionedPlan"
                        },
                        "description": "provisionedPlans"
                    },
                    "proxyAddresses": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "proxyAddresses"
                    },
                    "showInAddressList": {
                        "type": "boolean",
                        "description": "showInAddressList"
                    },
                    "state": {
                        "type": "string",
                        "description": "state"
                    },
                    "streetAddress": {
                        "type": "string",
                        "description": "streetAddress"
                    },
                    "surname": {
                        "type": "string",
                        "description": "surname"
                    },
                    "usageLocation": {
                        "type": "string",
                        "description": "usageLocation"
                    },
                    "userPrincipalName": {
                        "type": "string",
                        "description": "userPrincipalName"
                    },
                    "userType": {
                        "type": "string",
                        "description": "userType"
                    },
                    "mailboxSettings": {
                        "$ref": "#/components/schemas/microsoft.graph.MailboxSettings"
                    },
                    "aboutMe": {
                        "type": "string",
                        "description": "aboutMe"
                    },
                    "birthday": {
                        "type": "string",
                        "description": "birthday"
                    },
                    "hireDate": {
                        "type": "string",
                        "description": "hireDate"
                    },
                    "interests": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "interests"
                    },
                    "mySite": {
                        "type": "string",
                        "description": "mySite"
                    },
                    "pastProjects": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "pastProjects"
                    },
                    "preferredName": {
                        "type": "string",
                        "description": "preferredName"
                    },
                    "responsibilities": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "responsibilities"
                    },
                    "schools": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "schools"
                    },
                    "skills": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "skills"
                    },
                    "deviceEnrollmentLimit": {
                        "type": "integer",
                        "description": "deviceEnrollmentLimit"
                    }
                }
            },
            "microsoft.graph.AssignedLicense": {
                "properties": {
                    "disabledPlans": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "disabledPlans"
                    },
                    "skuId": {
                        "type": "string",
                        "description": "skuId"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.AssignedPlan": {
                "properties": {
                    "assignedDateTime": {
                        "type": "string",
                        "description": "assignedDateTime"
                    },
                    "capabilityStatus": {
                        "type": "string",
                        "description": "capabilityStatus"
                    },
                    "service": {
                        "type": "string",
                        "description": "service"
                    },
                    "servicePlanId": {
                        "type": "string",
                        "description": "servicePlanId"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.LicenseAssignmentState": {
                "properties": {
                    "skuId": {
                        "type": "string",
                        "description": "skuId"
                    },
                    "disabledPlans": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "disabledPlans"
                    },
                    "assignedByGroup": {
                        "type": "string",
                        "description": "assignedByGroup"
                    },
                    "state": {
                        "type": "string",
                        "description": "state"
                    },
                    "error": {
                        "type": "string",
                        "description": "error"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.OnPremisesExtensionAttributes": {
                "properties": {
                    "extensionAttribute1": {
                        "type": "string",
                        "description": "extensionAttribute1"
                    },
                    "extensionAttribute2": {
                        "type": "string",
                        "description": "extensionAttribute2"
                    },
                    "extensionAttribute3": {
                        "type": "string",
                        "description": "extensionAttribute3"
                    },
                    "extensionAttribute4": {
                        "type": "string",
                        "description": "extensionAttribute4"
                    },
                    "extensionAttribute5": {
                        "type": "string",
                        "description": "extensionAttribute5"
                    },
                    "extensionAttribute6": {
                        "type": "string",
                        "description": "extensionAttribute6"
                    },
                    "extensionAttribute7": {
                        "type": "string",
                        "description": "extensionAttribute7"
                    },
                    "extensionAttribute8": {
                        "type": "string",
                        "description": "extensionAttribute8"
                    },
                    "extensionAttribute9": {
                        "type": "string",
                        "description": "extensionAttribute9"
                    },
                    "extensionAttribute10": {
                        "type": "string",
                        "description": "extensionAttribute10"
                    },
                    "extensionAttribute11": {
                        "type": "string",
                        "description": "extensionAttribute11"
                    },
                    "extensionAttribute12": {
                        "type": "string",
                        "description": "extensionAttribute12"
                    },
                    "extensionAttribute13": {
                        "type": "string",
                        "description": "extensionAttribute13"
                    },
                    "extensionAttribute14": {
                        "type": "string",
                        "description": "extensionAttribute14"
                    },
                    "extensionAttribute15": {
                        "type": "string",
                        "description": "extensionAttribute15"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.OnPremisesProvisioningError": {
                "properties": {
                    "value": {
                        "type": "string",
                        "description": "value"
                    },
                    "category": {
                        "type": "string",
                        "description": "category"
                    },
                    "propertyCausingError": {
                        "type": "string",
                        "description": "propertyCausingError"
                    },
                    "occurredDateTime": {
                        "type": "string",
                        "description": "occurredDateTime"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.PasswordProfile": {
                "properties": {
                    "password": {
                        "type": "string",
                        "description": "password"
                    },
                    "forceChangePasswordNextSignIn": {
                        "type": "boolean",
                        "description": "forceChangePasswordNextSignIn"
                    },
                    "forceChangePasswordNextSignInWithMfa": {
                        "type": "boolean",
                        "description": "forceChangePasswordNextSignInWithMfa"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.ProvisionedPlan": {
                "properties": {
                    "capabilityStatus": {
                        "type": "string",
                        "description": "capabilityStatus"
                    },
                    "provisioningStatus": {
                        "type": "string",
                        "description": "provisioningStatus"
                    },
                    "service": {
                        "type": "string",
                        "description": "service"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.MailboxSettings": {
                "properties": {
                    "automaticRepliesSetting": {
                        "$ref": "#/components/schemas/microsoft.graph.AutomaticRepliesSetting"
                    },
                    "archiveFolder": {
                        "type": "string",
                        "description": "archiveFolder"
                    },
                    "timeZone": {
                        "type": "string",
                        "description": "timeZone"
                    },
                    "language": {
                        "$ref": "#/components/schemas/microsoft.graph.LocaleInfo"
                    },
                    "workingHours": {
                        "$ref": "#/components/schemas/microsoft.graph.WorkingHours"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.AutomaticRepliesSetting": {
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "status"
                    },
                    "externalAudience": {
                        "type": "string",
                        "description": "externalAudience"
                    },
                    "scheduledStartDateTime": {
                        "$ref": "#/components/schemas/microsoft.graph.DateTimeTimeZone"
                    },
                    "scheduledEndDateTime": {
                        "$ref": "#/components/schemas/microsoft.graph.DateTimeTimeZone"
                    },
                    "internalReplyMessage": {
                        "type": "string",
                        "description": "internalReplyMessage"
                    },
                    "externalReplyMessage": {
                        "type": "string",
                        "description": "externalReplyMessage"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.DateTimeTimeZone": {
                "properties": {
                    "dateTime": {
                        "type": "string",
                        "description": "dateTime"
                    },
                    "timeZone": {
                        "type": "string",
                        "description": "timeZone"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.LocaleInfo": {
                "properties": {
                    "locale": {
                        "type": "string",
                        "description": "locale"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.WorkingHours": {
                "properties": {
                    "daysOfWeek": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "daysOfWeek"
                    },
                    "startTime": {
                        "$ref": "#/components/schemas/microsoft.graph.TimeOfDay"
                    },
                    "endTime": {
                        "$ref": "#/components/schemas/microsoft.graph.TimeOfDay"
                    },
                    "timeZone": {
                        "$ref": "#/components/schemas/microsoft.graph.TimeZoneBase"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.TimeOfDay": {},
            "microsoft.graph.TimeZoneBase": {
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.LicenseDetails": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "servicePlans": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.ServicePlanInfo"
                        },
                        "description": "servicePlans"
                    },
                    "skuId": {
                        "type": "string",
                        "description": "skuId"
                    },
                    "skuPartNumber": {
                        "type": "string",
                        "description": "skuPartNumber"
                    }
                }
            },
            "microsoft.graph.ServicePlanInfo": {
                "properties": {
                    "servicePlanId": {
                        "type": "string",
                        "description": "servicePlanId"
                    },
                    "servicePlanName": {
                        "type": "string",
                        "description": "servicePlanName"
                    },
                    "provisioningStatus": {
                        "type": "string",
                        "description": "provisioningStatus"
                    },
                    "appliesTo": {
                        "type": "string",
                        "description": "appliesTo"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.Extension": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.OutlookUser": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.OutlookCategory": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "color": {
                        "type": "string",
                        "description": "color"
                    }
                }
            },
            "microsoft.graph.Message": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "receivedDateTime": {
                        "type": "string",
                        "description": "receivedDateTime"
                    },
                    "sentDateTime": {
                        "type": "string",
                        "description": "sentDateTime"
                    },
                    "hasAttachments": {
                        "type": "boolean",
                        "description": "hasAttachments"
                    },
                    "internetMessageId": {
                        "type": "string",
                        "description": "internetMessageId"
                    },
                    "internetMessageHeaders": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.InternetMessageHeader"
                        },
                        "description": "internetMessageHeaders"
                    },
                    "subject": {
                        "type": "string",
                        "description": "subject"
                    },
                    "body": {
                        "$ref": "#/components/schemas/microsoft.graph.ItemBody"
                    },
                    "bodyPreview": {
                        "type": "string",
                        "description": "bodyPreview"
                    },
                    "importance": {
                        "type": "string",
                        "description": "importance"
                    },
                    "parentFolderId": {
                        "type": "string",
                        "description": "parentFolderId"
                    },
                    "sender": {
                        "$ref": "#/components/schemas/microsoft.graph.Recipient"
                    },
                    "from": {
                        "$ref": "#/components/schemas/microsoft.graph.Recipient"
                    },
                    "toRecipients": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "toRecipients"
                    },
                    "ccRecipients": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "ccRecipients"
                    },
                    "bccRecipients": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "bccRecipients"
                    },
                    "replyTo": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "replyTo"
                    },
                    "conversationId": {
                        "type": "string",
                        "description": "conversationId"
                    },
                    "uniqueBody": {
                        "$ref": "#/components/schemas/microsoft.graph.ItemBody"
                    },
                    "isDeliveryReceiptRequested": {
                        "type": "boolean",
                        "description": "isDeliveryReceiptRequested"
                    },
                    "isReadReceiptRequested": {
                        "type": "boolean",
                        "description": "isReadReceiptRequested"
                    },
                    "isRead": {
                        "type": "boolean",
                        "description": "isRead"
                    },
                    "isDraft": {
                        "type": "boolean",
                        "description": "isDraft"
                    },
                    "webLink": {
                        "type": "string",
                        "description": "webLink"
                    },
                    "inferenceClassification": {
                        "type": "string",
                        "description": "inferenceClassification"
                    },
                    "flag": {
                        "$ref": "#/components/schemas/microsoft.graph.FollowupFlag"
                    },
                    "createdDateTime": {
                        "type": "string",
                        "description": "createdDateTime"
                    },
                    "lastModifiedDateTime": {
                        "type": "string",
                        "description": "lastModifiedDateTime"
                    },
                    "changeKey": {
                        "type": "string",
                        "description": "changeKey"
                    },
                    "categories": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "categories"
                    }
                }
            },
            "microsoft.graph.InternetMessageHeader": {
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "value": {
                        "type": "string",
                        "description": "value"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.ItemBody": {
                "properties": {
                    "contentType": {
                        "type": "string",
                        "description": "contentType"
                    },
                    "content": {
                        "type": "string",
                        "description": "content"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.Recipient": {
                "properties": {
                    "emailAddress": {
                        "$ref": "#/components/schemas/microsoft.graph.EmailAddress"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.EmailAddress": {
                "properties": {
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "address": {
                        "type": "string",
                        "description": "address"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.FollowupFlag": {
                "properties": {
                    "completedDateTime": {
                        "$ref": "#/components/schemas/microsoft.graph.DateTimeTimeZone"
                    },
                    "dueDateTime": {
                        "$ref": "#/components/schemas/microsoft.graph.DateTimeTimeZone"
                    },
                    "startDateTime": {
                        "$ref": "#/components/schemas/microsoft.graph.DateTimeTimeZone"
                    },
                    "flagStatus": {
                        "type": "string",
                        "description": "flagStatus"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.Attachment": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "lastModifiedDateTime": {
                        "type": "string",
                        "description": "lastModifiedDateTime"
                    },
                    "name": {
                        "type": "string",
                        "description": "name"
                    },
                    "contentType": {
                        "type": "string",
                        "description": "contentType"
                    },
                    "size": {
                        "type": "integer",
                        "description": "size"
                    },
                    "isInline": {
                        "type": "boolean",
                        "description": "isInline"
                    }
                }
            },
            "microsoft.graph.SingleValueLegacyExtendedProperty": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "value": {
                        "type": "string",
                        "description": "value"
                    }
                }
            },
            "microsoft.graph.MultiValueLegacyExtendedProperty": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "value": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "value"
                    }
                }
            },
            "microsoft.graph.MailFolder": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "parentFolderId": {
                        "type": "string",
                        "description": "parentFolderId"
                    },
                    "childFolderCount": {
                        "type": "integer",
                        "description": "childFolderCount"
                    },
                    "unreadItemCount": {
                        "type": "integer",
                        "description": "unreadItemCount"
                    },
                    "totalItemCount": {
                        "type": "integer",
                        "description": "totalItemCount"
                    }
                }
            },
            "microsoft.graph.MessageRule": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "id"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    },
                    "displayName": {
                        "type": "string",
                        "description": "displayName"
                    },
                    "sequence": {
                        "type": "integer",
                        "description": "sequence"
                    },
                    "conditions": {
                        "$ref": "#/components/schemas/microsoft.graph.MessageRulePredicates"
                    },
                    "actions": {
                        "$ref": "#/components/schemas/microsoft.graph.MessageRuleActions"
                    },
                    "exceptions": {
                        "$ref": "#/components/schemas/microsoft.graph.MessageRulePredicates"
                    },
                    "isEnabled": {
                        "type": "boolean",
                        "description": "isEnabled"
                    },
                    "hasError": {
                        "type": "boolean",
                        "description": "hasError"
                    },
                    "isReadOnly": {
                        "type": "boolean",
                        "description": "isReadOnly"
                    }
                }
            },
            "microsoft.graph.MessageRulePredicates": {
                "properties": {
                    "categories": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "categories"
                    },
                    "subjectContains": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "subjectContains"
                    },
                    "bodyContains": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "bodyContains"
                    },
                    "bodyOrSubjectContains": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "bodyOrSubjectContains"
                    },
                    "senderContains": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "senderContains"
                    },
                    "recipientContains": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "recipientContains"
                    },
                    "headerContains": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "headerContains"
                    },
                    "messageActionFlag": {
                        "type": "string",
                        "description": "messageActionFlag"
                    },
                    "importance": {
                        "type": "string",
                        "description": "importance"
                    },
                    "sensitivity": {
                        "type": "string",
                        "description": "sensitivity"
                    },
                    "fromAddresses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "fromAddresses"
                    },
                    "sentToAddresses": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "sentToAddresses"
                    },
                    "sentToMe": {
                        "type": "boolean",
                        "description": "sentToMe"
                    },
                    "sentOnlyToMe": {
                        "type": "boolean",
                        "description": "sentOnlyToMe"
                    },
                    "sentCcMe": {
                        "type": "boolean",
                        "description": "sentCcMe"
                    },
                    "sentToOrCcMe": {
                        "type": "boolean",
                        "description": "sentToOrCcMe"
                    },
                    "notSentToMe": {
                        "type": "boolean",
                        "description": "notSentToMe"
                    },
                    "hasAttachments": {
                        "type": "boolean",
                        "description": "hasAttachments"
                    },
                    "isApprovalRequest": {
                        "type": "boolean",
                        "description": "isApprovalRequest"
                    },
                    "isAutomaticForward": {
                        "type": "boolean",
                        "description": "isAutomaticForward"
                    },
                    "isAutomaticReply": {
                        "type": "boolean",
                        "description": "isAutomaticReply"
                    },
                    "isEncrypted": {
                        "type": "boolean",
                        "description": "isEncrypted"
                    },
                    "isMeetingRequest": {
                        "type": "boolean",
                        "description": "isMeetingRequest"
                    },
                    "isMeetingResponse": {
                        "type": "boolean",
                        "description": "isMeetingResponse"
                    },
                    "isNonDeliveryReport": {
                        "type": "boolean",
                        "description": "isNonDeliveryReport"
                    },
                    "isPermissionControlled": {
                        "type": "boolean",
                        "description": "isPermissionControlled"
                    },
                    "isReadReceipt": {
                        "type": "boolean",
                        "description": "isReadReceipt"
                    },
                    "isSigned": {
                        "type": "boolean",
                        "description": "isSigned"
                    },
                    "isVoicemail": {
                        "type": "boolean",
                        "description": "isVoicemail"
                    },
                    "withinSizeRange": {
                        "$ref": "#/components/schemas/microsoft.graph.SizeRange"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.SizeRange": {
                "properties": {
                    "minimumSize": {
                        "type": "integer",
                        "description": "minimumSize"
                    },
                    "maximumSize": {
                        "type": "integer",
                        "description": "maximumSize"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
                    }
                }
            },
            "microsoft.graph.MessageRuleActions": {
                "properties": {
                    "moveToFolder": {
                        "type": "string",
                        "description": "moveToFolder"
                    },
                    "copyToFolder": {
                        "type": "string",
                        "description": "copyToFolder"
                    },
                    "delete": {
                        "type": "boolean",
                        "description": "delete"
                    },
                    "permanentDelete": {
                        "type": "boolean",
                        "description": "permanentDelete"
                    },
                    "markAsRead": {
                        "type": "boolean",
                        "description": "markAsRead"
                    },
                    "markImportance": {
                        "type": "string",
                        "description": "markImportance"
                    },
                    "forwardTo": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "forwardTo"
                    },
                    "forwardAsAttachmentTo": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "forwardAsAttachmentTo"
                    },
                    "redirectTo": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/microsoft.graph.Recipient"
                        },
                        "description": "redirectTo"
                    },
                    "assignCategories": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "description": "assignCategories"
                    },
                    "stopProcessingRules": {
                        "type": "boolean",
                        "description": "stopProcessingRules"
                    },
                    "oDataType": {
                        "type": "string",
                        "description": "oDataType"
[...]
